<Instruction>
    test
</Instruction>
{{ system_prompt }}
{% for h in history %}
<div role="user">
askjdhakjsd
</div>
<div role="assistant">
  asjkdadlk
  <a>
      bar
      booo
  </a>
  {{ h.assistant }}
  kldfjslkdjf
    ident=2
</div>
{% endfor %}
<div role="tool" tool_name="foo" tool_call_id="none">
    {
        "name": "foo",
        "required": ["bar"],
        "properties": {
            "bar": {
                "type": "string",
                "description": "The bar property"
            }
        }
    }
</div>
